{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head><meta charset="utf-8" />
<title>{% block title %}과제12_황경태{% endblock %}</title><script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

<!-- Loading mathjax macro -->
<!-- Load mathjax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML"></script>
    <!-- MathJax configuration -->
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true,
            processEnvironments: true
        },
        // Center justify equations in code and markdown cells. Elsewhere
        // we use CSS to left justify single line equations in code cells.
        displayAlign: 'center',
        "HTML-CSS": {
            styles: {'.MathJax_Display': {"margin": 0}},
            linebreaks: { automatic: true }
        }
    });
    </script>
    <!-- End of mathjax configuration --></head>
<body>
  {% block body %}
  <div tabindex="-1" id="notebook" class="border-box-sizing">
    <div class="container" id="notebook-container">

<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h2 id="12&#51068;&#52264;-&#44284;&#51228;-&#49688;&#54665;---&#44608;&#47749;&#49437;">12&#51068;&#52264; &#44284;&#51228; &#49688;&#54665; - &#44608;&#47749;&#49437;<a class="anchor-link" href="#12&#51068;&#52264;-&#44284;&#51228;-&#49688;&#54665;---&#44608;&#47749;&#49437;">&#182;</a></h2>
</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[1]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="c1"># 오늘 과제 SQLlist 로 넘기는 코드 짜는것 </span>
<span class="c1"># URL 집어넣는것 함수형태로 만들어 바꿀 수 있게.</span>
</pre></div>

</div>
</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[2]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="c1"># 측정소별 실시간 측정정보 조회</span>
<span class="kn">import</span> <span class="nn">urllib</span> <span class="o">,</span> <span class="nn">requests</span>
<span class="sd">&quot;&quot;&quot;</span>
<span class="sd">http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getMsrstnAcctoRltmMesureDnsty?</span>
<span class="sd">serviceKey=3djrRPbmWpPwtLqOCfMXIY0UcD3ZwJXVgX76GuDcdkBLH0VmwvKeoU7IEEZzYoCu6RSeJ4Nq86VoA2%2BUm2iZgw%3D%3D</span>
<span class="sd">&amp;numOfRows=10</span>
<span class="sd">&amp;pageSize=10</span>
<span class="sd">&amp;pageNo=1</span>
<span class="sd">&amp;startPage=1</span>
<span class="sd">&amp;stationName=%EC%A2%85%EB%A1%9C%EA%B5%AC</span>
<span class="sd">&amp;dataTerm=DAILY&amp;ver=1.3</span>
<span class="sd">&quot;&quot;&quot;</span>
<span class="n">url</span> <span class="o">=</span> <span class="s2">&quot;http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getMsrstnAcctoRltmMesureDnsty&quot;</span>
<span class="n">def_params</span> <span class="o">=</span> <span class="p">{</span>
    <span class="s2">&quot;serviceKey&quot;</span><span class="p">:</span><span class="s2">&quot;3djrRPbmWpPwtLqOCfMXIY0UcD3ZwJXVgX76GuDcdkBLH0VmwvKeoU7IEEZzYoCu6RSeJ4Nq86VoA2%2BUm2iZgw%3D%3D&quot;</span><span class="p">,</span>
    <span class="s2">&quot;numOfRows&quot;</span><span class="p">:</span><span class="mi">10</span><span class="p">,</span>
    <span class="s2">&quot;pageSize&quot;</span><span class="p">:</span><span class="mi">10</span><span class="p">,</span>
    <span class="s2">&quot;pageNo&quot;</span><span class="p">:</span><span class="mi">1</span><span class="p">,</span>
    <span class="s2">&quot;startPage&quot;</span><span class="p">:</span><span class="mi">1</span><span class="p">,</span>
    <span class="s2">&quot;stationName&quot;</span><span class="p">:</span><span class="kc">None</span><span class="p">,</span>
    <span class="s2">&quot;dataTerm&quot;</span><span class="p">:</span><span class="s2">&quot;DAILY&quot;</span><span class="p">,</span>
    <span class="s2">&quot;ver&quot;</span><span class="p">:</span><span class="mf">1.3</span><span class="p">,</span>
    <span class="s2">&quot;_returnType&quot;</span> <span class="p">:</span> <span class="s2">&quot;json&quot;</span>
<span class="p">}</span>
<span class="n">def_params</span><span class="p">[</span><span class="s2">&quot;stationName&quot;</span><span class="p">]</span> <span class="o">=</span> <span class="s2">&quot;종로구&quot;</span>
<span class="n">def_params</span><span class="p">[</span><span class="s2">&quot;serviceKey&quot;</span><span class="p">]</span>  <span class="o">=</span> <span class="n">urllib</span><span class="o">.</span><span class="n">parse</span><span class="o">.</span><span class="n">unquote</span><span class="p">(</span><span class="n">def_params</span><span class="p">[</span><span class="s2">&quot;serviceKey&quot;</span><span class="p">]</span> <span class="p">)</span>

<span class="n">resp</span> <span class="o">=</span> <span class="n">requests</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="n">url</span><span class="p">,</span><span class="n">params</span><span class="o">=</span><span class="n">def_params</span><span class="p">)</span>
</pre></div>

</div>
</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[9]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="k">def</span> <span class="nf">getResponse</span><span class="p">(</span><span class="n">pageNo</span><span class="o">=</span><span class="mi">1</span><span class="p">):</span>
    <span class="n">url</span> <span class="o">=</span> <span class="s2">&quot;http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getMsrstnAcctoRltmMesureDnsty&quot;</span>
    <span class="n">def_params</span> <span class="o">=</span> <span class="p">{</span>
        <span class="s2">&quot;serviceKey&quot;</span><span class="p">:</span><span class="s2">&quot;3djrRPbmWpPwtLqOCfMXIY0UcD3ZwJXVgX76GuDcdkBLH0VmwvKeoU7IEEZzYoCu6RSeJ4Nq86VoA2%2BUm2iZgw%3D%3D&quot;</span><span class="p">,</span>
        <span class="s2">&quot;numOfRows&quot;</span><span class="p">:</span><span class="mi">10</span><span class="p">,</span>
        <span class="s2">&quot;pageSize&quot;</span><span class="p">:</span><span class="mi">10</span><span class="p">,</span>
        <span class="s2">&quot;pageNo&quot;</span><span class="p">:</span><span class="mi">1</span><span class="p">,</span>
        <span class="s2">&quot;startPage&quot;</span><span class="p">:</span><span class="mi">1</span><span class="p">,</span>
        <span class="s2">&quot;stationName&quot;</span><span class="p">:</span><span class="kc">None</span><span class="p">,</span>
        <span class="s2">&quot;dataTerm&quot;</span><span class="p">:</span><span class="s2">&quot;DAILY&quot;</span><span class="p">,</span>
        <span class="s2">&quot;ver&quot;</span><span class="p">:</span><span class="mf">1.3</span><span class="p">,</span>
        <span class="s2">&quot;_returnType&quot;</span> <span class="p">:</span> <span class="s2">&quot;json&quot;</span>
    <span class="p">}</span>
    <span class="n">def_params</span><span class="p">[</span><span class="s2">&quot;stationName&quot;</span><span class="p">]</span> <span class="o">=</span> <span class="s2">&quot;종로구&quot;</span>
    <span class="n">def_params</span><span class="p">[</span><span class="s2">&quot;serviceKey&quot;</span><span class="p">]</span>  <span class="o">=</span> <span class="n">urllib</span><span class="o">.</span><span class="n">parse</span><span class="o">.</span><span class="n">unquote</span><span class="p">(</span><span class="n">def_params</span><span class="p">[</span><span class="s2">&quot;serviceKey&quot;</span><span class="p">]</span> <span class="p">)</span>
    <span class="n">def_params</span><span class="p">[</span><span class="s2">&quot;pageNo&quot;</span><span class="p">]</span><span class="o">=</span><span class="mi">1</span>
    <span class="n">resp</span> <span class="o">=</span> <span class="n">requests</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="n">url</span><span class="p">,</span><span class="n">params</span><span class="o">=</span><span class="n">def_params</span><span class="p">)</span>
    <span class="k">return</span> <span class="n">resp</span> 
</pre></div>

</div>
</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[15]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="kn">import</span> <span class="nn">sqlite3</span> <span class="k">as</span> <span class="nn">sql</span>
<span class="c1"># &quot;MsrstnAcctoRltmMesureDnsty.db&quot;</span>
<span class="n">conn</span> <span class="o">=</span> <span class="n">sql</span><span class="o">.</span><span class="n">connect</span><span class="p">(</span><span class="s2">&quot;ArpltnInforInqireSvc.db&quot;</span><span class="p">)</span> 
<span class="n">cur</span> <span class="o">=</span> <span class="n">conn</span><span class="o">.</span><span class="n">cursor</span><span class="p">()</span>

<span class="k">def</span> <span class="nf">isfloat</span><span class="p">(</span><span class="n">value</span><span class="p">):</span>
    <span class="k">try</span><span class="p">:</span>
        <span class="nb">float</span><span class="p">(</span><span class="n">value</span><span class="p">)</span>
        <span class="k">return</span> <span class="kc">True</span>
    <span class="k">except</span> <span class="ne">ValueError</span><span class="p">:</span>
        <span class="k">return</span> <span class="kc">False</span>
</pre></div>

</div>
</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[4]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="n">cur</span><span class="o">.</span><span class="n">executescript</span><span class="p">(</span><span class="s2">&quot;&quot;&quot;</span>
<span class="s2">    DROP TABLE IF EXISTS MsrstnAcctoRltmMesureDnsty;</span>

<span class="s2">    CREATE TABLE MsrstnAcctoRltmMesureDnsty(</span>
<span class="s2">    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,</span>
<span class="s2">    coGrade INTEGER,</span>
<span class="s2">    coValue FLOAT,</span>
<span class="s2">    dataTerm INTEGER,</span>
<span class="s2">    dataTime TEXT,</span>
<span class="s2">    khaiGrade INTEGER,</span>
<span class="s2">    khaiValue INTEGER,</span>
<span class="s2">    mangName TEXT,</span>
<span class="s2">    no2Grade INTEGER,</span>
<span class="s2">    no2Value FLOAT,</span>
<span class="s2">    numOfRows INTEGER,</span>
<span class="s2">    o3Grade INTEGER,</span>
<span class="s2">    o3Value FLOAT,</span>
<span class="s2">    pageNo INTEGER,</span>
<span class="s2">    pm10Grade INTEGER,</span>
<span class="s2">    pm10Grade1h INTEGER,</span>
<span class="s2">    pm10Value INTEGER,</span>
<span class="s2">    pm10Value24 INTEGER,</span>
<span class="s2">    pm25Grade INTEGER,</span>
<span class="s2">    pm25Grade1h INTEGER,</span>
<span class="s2">    pm25Value INTEGER,</span>
<span class="s2">    pm25Value24 INTEGER,</span>
<span class="s2">    resultCode INTEGER,</span>
<span class="s2">    resultMsg TEXT,</span>
<span class="s2">    rnum INTEGER,</span>
<span class="s2">    serviceKey TEXT,</span>
<span class="s2">    sidoName TEXT,</span>
<span class="s2">    so2Grade INTEGER,</span>
<span class="s2">    so2Value FLOAT,</span>
<span class="s2">    stationCode TEXT,</span>
<span class="s2">    stationName TEXT,</span>
<span class="s2">    totalCount INTEGER,</span>
<span class="s2">    ver FLOAT);&quot;&quot;&quot;</span><span class="p">)</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[4]:</div>




<div class="output_text output_subarea output_execute_result">
<pre>&lt;sqlite3.Cursor at 0x132f86b6420&gt;</pre>
</div>

</div>

</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[12]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="kn">import</span> <span class="nn">json</span>

<span class="k">def</span> <span class="nf">insertRespToDB</span><span class="p">(</span><span class="n">resp</span><span class="p">):</span>
    <span class="n">respObj</span> <span class="o">=</span> <span class="n">json</span><span class="o">.</span><span class="n">loads</span><span class="p">(</span><span class="n">resp</span><span class="o">.</span><span class="n">text</span><span class="p">)</span>
    <span class="n">name</span> <span class="o">=</span> <span class="s2">&quot;&quot;</span>
    <span class="n">value</span><span class="o">=</span> <span class="s2">&quot;&quot;</span>
    <span class="n">qurey</span> <span class="o">=</span> <span class="s2">&quot;&quot;</span>
    <span class="k">for</span> <span class="n">list_dic</span> <span class="ow">in</span> <span class="n">respObj</span><span class="p">[</span><span class="s1">&#39;list&#39;</span><span class="p">]:</span>
        <span class="k">for</span> <span class="n">k</span><span class="p">,</span><span class="n">v</span> <span class="ow">in</span> <span class="n">list_dic</span><span class="o">.</span><span class="n">items</span><span class="p">():</span>
                <span class="n">name</span> <span class="o">=</span> <span class="n">name</span> <span class="o">+</span> <span class="n">k</span> <span class="o">+</span><span class="s1">&#39;, &#39;</span>
                <span class="k">if</span> <span class="nb">str</span><span class="p">(</span><span class="n">v</span><span class="p">)</span> <span class="ow">is</span> <span class="ow">not</span> <span class="s1">&#39;&#39;</span><span class="p">:</span>
                    <span class="k">if</span> <span class="nb">str</span><span class="p">(</span><span class="n">v</span><span class="p">)</span><span class="o">.</span><span class="n">isnumeric</span><span class="p">()</span> <span class="ow">or</span> <span class="n">isfloat</span><span class="p">(</span><span class="nb">str</span><span class="p">(</span><span class="n">v</span><span class="p">)):</span>
                        <span class="n">value</span><span class="o">=</span> <span class="n">value</span> <span class="o">+</span> <span class="nb">str</span><span class="p">(</span><span class="n">v</span><span class="p">)</span> <span class="o">+</span> <span class="s1">&#39;, &#39;</span>
                    <span class="k">else</span> <span class="p">:</span>
                        <span class="n">value</span><span class="o">=</span> <span class="n">value</span> <span class="o">+</span> <span class="s1">&#39;</span><span class="se">\&#39;</span><span class="s1">&#39;</span><span class="o">+</span><span class="nb">str</span><span class="p">(</span><span class="n">v</span><span class="p">)</span> <span class="o">+</span> <span class="s1">&#39;</span><span class="se">\&#39;</span><span class="s1">, &#39;</span>
                <span class="k">else</span> <span class="p">:</span>
                    <span class="n">value</span><span class="o">=</span> <span class="n">value</span> <span class="o">+</span> <span class="s1">&#39;NULL&#39;</span> <span class="o">+</span> <span class="s1">&#39;, &#39;</span>
        <span class="n">name</span> <span class="o">=</span> <span class="n">name</span><span class="p">[</span><span class="mi">13</span><span class="p">:</span><span class="o">-</span><span class="mi">2</span><span class="p">]</span>
        <span class="n">value</span> <span class="o">=</span> <span class="n">value</span><span class="p">[</span><span class="mi">7</span><span class="p">:</span><span class="o">-</span><span class="mi">2</span><span class="p">]</span>
        <span class="n">qurey</span> <span class="o">=</span> <span class="s2">&quot;insert into MsrstnAcctoRltmMesureDnsty (&quot;</span> <span class="o">+</span> <span class="n">name</span> <span class="o">+</span> <span class="s2">&quot;) values (&quot;</span> <span class="o">+</span><span class="n">value</span> <span class="o">+</span><span class="s2">&quot;);&quot;</span>

        <span class="n">cur</span><span class="o">.</span><span class="n">execute</span><span class="p">(</span><span class="n">qurey</span><span class="p">)</span>
        <span class="n">name</span> <span class="o">=</span> <span class="s2">&quot;&quot;</span>
        <span class="n">value</span><span class="o">=</span> <span class="s2">&quot;&quot;</span>
        <span class="n">qurey</span> <span class="o">=</span> <span class="s2">&quot;&quot;</span>
     
</pre></div>

</div>
</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[17]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="mi">2</span><span class="p">,</span><span class="mi">10</span><span class="p">):</span>
    <span class="n">resp</span> <span class="o">=</span> <span class="n">getResponse</span><span class="p">(</span><span class="n">pageNo</span><span class="o">=</span><span class="n">i</span><span class="p">)</span>
    <span class="n">insertRespToDB</span><span class="p">(</span><span class="n">resp</span><span class="p">)</span>
<span class="n">conn</span><span class="o">.</span><span class="n">commit</span><span class="p">()</span>
</pre></div>

</div>
</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[18]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="n">cur</span><span class="o">.</span><span class="n">execute</span><span class="p">(</span><span class="s2">&quot;select *from MsrstnAcctoRltmMesureDnsty&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">fetchall</span><span class="p">():</span>
    <span class="nb">print</span><span class="p">(</span><span class="n">i</span><span class="p">)</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt"></div>


<div class="output_subarea output_stream output_stdout output_text">
<pre>(1, 1, 0.4, None, &#39;2018-07-17 20:00&#39;, 2, 79, &#39;도시대기&#39;, 1, 0.024, 10, 1, 0.013, 1, 2, 1, 28, 32, 2, 2, 27, 27, None, None, 0, None, None, 1, 0.004, None, None, None, None)
(2, 1, 0.3, None, &#39;2018-07-17 19:00&#39;, 2, 79, &#39;도시대기&#39;, 1, 0.017, 10, 1, 0.02, 1, 2, 1, 27, 34, 2, 2, 22, 27, None, None, 0, None, None, 1, 0.004, None, None, None, None)
(3, 1, 0.3, None, &#39;2018-07-17 18:00&#39;, 2, 82, &#39;도시대기&#39;, 1, 0.014, 10, 1, 0.019, 1, 2, 1, 27, 35, 2, 2, 25, 28, None, None, 0, None, None, 1, 0.004, None, None, None, None)
(4, 1, 0.2, None, &#39;2018-07-17 17:00&#39;, 2, 82, &#39;도시대기&#39;, 1, 0.014, 10, 1, 0.02, 1, 2, 2, 37, 37, 2, 2, 34, 28, None, None, 0, None, None, 1, 0.006, None, None, None, None)
(5, 1, 0.3, None, &#39;2018-07-17 16:00&#39;, 2, 79, &#39;도시대기&#39;, 1, 0.017, 10, 1, 0.028, 1, 2, 2, 38, 37, 2, 3, 36, 27, None, None, 0, None, None, 1, 0.008, None, None, None, None)
(6, 1, 0.3, None, &#39;2018-07-17 15:00&#39;, 2, 77, &#39;도시대기&#39;, 1, 0.019, 10, 2, 0.036, 1, 2, 2, 42, 36, 2, 3, 37, 26, None, None, 0, None, None, 1, 0.008, None, None, None, None)
(7, 1, 0.4, None, &#39;2018-07-17 14:00&#39;, 2, 74, &#39;도시대기&#39;, 1, 0.028, 10, 2, 0.058, 1, 2, 2, 43, 34, 2, 3, 38, 25, None, None, 0, None, None, 1, 0.007, None, None, None, None)
(8, 1, 0.4, None, &#39;2018-07-17 13:00&#39;, 2, 74, &#39;도시대기&#39;, 2, 0.038, 10, 2, 0.044, 1, 2, 2, 45, 31, 2, 3, 36, 25, None, None, 0, None, None, 1, 0.007, None, None, None, None)
(9, 1, 0.4, None, &#39;2018-07-17 12:00&#39;, 2, 69, &#39;도시대기&#39;, 2, 0.04, 10, 1, 0.023, 1, 1, 2, 36, 28, 2, 2, 29, 23, None, None, 0, None, None, 1, 0.006, None, None, None, None)
(10, 1, 0.4, None, &#39;2018-07-17 11:00&#39;, 2, 64, &#39;도시대기&#39;, 1, 0.028, 10, 1, 0.021, 1, 1, 2, 32, 26, 2, 2, 25, 21, None, None, 0, None, None, 1, 0.008, None, None, None, None)
(11, 1, 0.4, None, &#39;2018-07-17 20:00&#39;, 2, 79, &#39;도시대기&#39;, 1, 0.024, 10, 1, 0.013, 1, 2, 1, 28, 32, 2, 2, 27, 27, None, None, 0, None, None, 1, 0.004, None, None, None, None)
(12, 1, 0.3, None, &#39;2018-07-17 19:00&#39;, 2, 79, &#39;도시대기&#39;, 1, 0.017, 10, 1, 0.02, 1, 2, 1, 27, 34, 2, 2, 22, 27, None, None, 0, None, None, 1, 0.004, None, None, None, None)
(13, 1, 0.3, None, &#39;2018-07-17 18:00&#39;, 2, 82, &#39;도시대기&#39;, 1, 0.014, 10, 1, 0.019, 1, 2, 1, 27, 35, 2, 2, 25, 28, None, None, 0, None, None, 1, 0.004, None, None, None, None)
(14, 1, 0.2, None, &#39;2018-07-17 17:00&#39;, 2, 82, &#39;도시대기&#39;, 1, 0.014, 10, 1, 0.02, 1, 2, 2, 37, 37, 2, 2, 34, 28, None, None, 0, None, None, 1, 0.006, None, None, None, None)
(15, 1, 0.3, None, &#39;2018-07-17 16:00&#39;, 2, 79, &#39;도시대기&#39;, 1, 0.017, 10, 1, 0.028, 1, 2, 2, 38, 37, 2, 3, 36, 27, None, None, 0, None, None, 1, 0.008, None, None, None, None)
(16, 1, 0.3, None, &#39;2018-07-17 15:00&#39;, 2, 77, &#39;도시대기&#39;, 1, 0.019, 10, 2, 0.036, 1, 2, 2, 42, 36, 2, 3, 37, 26, None, None, 0, None, None, 1, 0.008, None, None, None, None)
(17, 1, 0.4, None, &#39;2018-07-17 14:00&#39;, 2, 74, &#39;도시대기&#39;, 1, 0.028, 10, 2, 0.058, 1, 2, 2, 43, 34, 2, 3, 38, 25, None, None, 0, None, None, 1, 0.007, None, None, None, None)
(18, 1, 0.4, None, &#39;2018-07-17 13:00&#39;, 2, 74, &#39;도시대기&#39;, 2, 0.038, 10, 2, 0.044, 1, 2, 2, 45, 31, 2, 3, 36, 25, None, None, 0, None, None, 1, 0.007, None, None, None, None)
(19, 1, 0.4, None, &#39;2018-07-17 12:00&#39;, 2, 69, &#39;도시대기&#39;, 2, 0.04, 10, 1, 0.023, 1, 1, 2, 36, 28, 2, 2, 29, 23, None, None, 0, None, None, 1, 0.006, None, None, None, None)
(20, 1, 0.4, None, &#39;2018-07-17 11:00&#39;, 2, 64, &#39;도시대기&#39;, 1, 0.028, 10, 1, 0.021, 1, 1, 2, 32, 26, 2, 2, 25, 21, None, None, 0, None, None, 1, 0.008, None, None, None, None)
(21, 1, 0.4, None, &#39;2018-07-17 20:00&#39;, 2, 79, &#39;도시대기&#39;, 1, 0.024, 10, 1, 0.013, 1, 2, 1, 28, 32, 2, 2, 27, 27, None, None, 0, None, None, 1, 0.004, None, None, None, None)
(22, 1, 0.3, None, &#39;2018-07-17 19:00&#39;, 2, 79, &#39;도시대기&#39;, 1, 0.017, 10, 1, 0.02, 1, 2, 1, 27, 34, 2, 2, 22, 27, None, None, 0, None, None, 1, 0.004, None, None, None, None)
(23, 1, 0.3, None, &#39;2018-07-17 18:00&#39;, 2, 82, &#39;도시대기&#39;, 1, 0.014, 10, 1, 0.019, 1, 2, 1, 27, 35, 2, 2, 25, 28, None, None, 0, None, None, 1, 0.004, None, None, None, None)
(24, 1, 0.2, None, &#39;2018-07-17 17:00&#39;, 2, 82, &#39;도시대기&#39;, 1, 0.014, 10, 1, 0.02, 1, 2, 2, 37, 37, 2, 2, 34, 28, None, None, 0, None, None, 1, 0.006, None, None, None, None)
(25, 1, 0.3, None, &#39;2018-07-17 16:00&#39;, 2, 79, &#39;도시대기&#39;, 1, 0.017, 10, 1, 0.028, 1, 2, 2, 38, 37, 2, 3, 36, 27, None, None, 0, None, None, 1, 0.008, None, None, None, None)
(26, 1, 0.3, None, &#39;2018-07-17 15:00&#39;, 2, 77, &#39;도시대기&#39;, 1, 0.019, 10, 2, 0.036, 1, 2, 2, 42, 36, 2, 3, 37, 26, None, None, 0, None, None, 1, 0.008, None, None, None, None)
(27, 1, 0.4, None, &#39;2018-07-17 14:00&#39;, 2, 74, &#39;도시대기&#39;, 1, 0.028, 10, 2, 0.058, 1, 2, 2, 43, 34, 2, 3, 38, 25, None, None, 0, None, None, 1, 0.007, None, None, None, None)
(28, 1, 0.4, None, &#39;2018-07-17 13:00&#39;, 2, 74, &#39;도시대기&#39;, 2, 0.038, 10, 2, 0.044, 1, 2, 2, 45, 31, 2, 3, 36, 25, None, None, 0, None, None, 1, 0.007, None, None, None, None)
(29, 1, 0.4, None, &#39;2018-07-17 12:00&#39;, 2, 69, &#39;도시대기&#39;, 2, 0.04, 10, 1, 0.023, 1, 1, 2, 36, 28, 2, 2, 29, 23, None, None, 0, None, None, 1, 0.006, None, None, None, None)
(30, 1, 0.4, None, &#39;2018-07-17 11:00&#39;, 2, 64, &#39;도시대기&#39;, 1, 0.028, 10, 1, 0.021, 1, 1, 2, 32, 26, 2, 2, 25, 21, None, None, 0, None, None, 1, 0.008, None, None, None, None)
(31, 1, 0.4, None, &#39;2018-07-17 20:00&#39;, 2, 79, &#39;도시대기&#39;, 1, 0.024, 10, 1, 0.013, 1, 2, 1, 28, 32, 2, 2, 27, 27, None, None, 0, None, None, 1, 0.004, None, None, None, None)
(32, 1, 0.3, None, &#39;2018-07-17 19:00&#39;, 2, 79, &#39;도시대기&#39;, 1, 0.017, 10, 1, 0.02, 1, 2, 1, 27, 34, 2, 2, 22, 27, None, None, 0, None, None, 1, 0.004, None, None, None, None)
(33, 1, 0.3, None, &#39;2018-07-17 18:00&#39;, 2, 82, &#39;도시대기&#39;, 1, 0.014, 10, 1, 0.019, 1, 2, 1, 27, 35, 2, 2, 25, 28, None, None, 0, None, None, 1, 0.004, None, None, None, None)
(34, 1, 0.2, None, &#39;2018-07-17 17:00&#39;, 2, 82, &#39;도시대기&#39;, 1, 0.014, 10, 1, 0.02, 1, 2, 2, 37, 37, 2, 2, 34, 28, None, None, 0, None, None, 1, 0.006, None, None, None, None)
(35, 1, 0.3, None, &#39;2018-07-17 16:00&#39;, 2, 79, &#39;도시대기&#39;, 1, 0.017, 10, 1, 0.028, 1, 2, 2, 38, 37, 2, 3, 36, 27, None, None, 0, None, None, 1, 0.008, None, None, None, None)
(36, 1, 0.3, None, &#39;2018-07-17 15:00&#39;, 2, 77, &#39;도시대기&#39;, 1, 0.019, 10, 2, 0.036, 1, 2, 2, 42, 36, 2, 3, 37, 26, None, None, 0, None, None, 1, 0.008, None, None, None, None)
(37, 1, 0.4, None, &#39;2018-07-17 14:00&#39;, 2, 74, &#39;도시대기&#39;, 1, 0.028, 10, 2, 0.058, 1, 2, 2, 43, 34, 2, 3, 38, 25, None, None, 0, None, None, 1, 0.007, None, None, None, None)
(38, 1, 0.4, None, &#39;2018-07-17 13:00&#39;, 2, 74, &#39;도시대기&#39;, 2, 0.038, 10, 2, 0.044, 1, 2, 2, 45, 31, 2, 3, 36, 25, None, None, 0, None, None, 1, 0.007, None, None, None, None)
(39, 1, 0.4, None, &#39;2018-07-17 12:00&#39;, 2, 69, &#39;도시대기&#39;, 2, 0.04, 10, 1, 0.023, 1, 1, 2, 36, 28, 2, 2, 29, 23, None, None, 0, None, None, 1, 0.006, None, None, None, None)
(40, 1, 0.4, None, &#39;2018-07-17 11:00&#39;, 2, 64, &#39;도시대기&#39;, 1, 0.028, 10, 1, 0.021, 1, 1, 2, 32, 26, 2, 2, 25, 21, None, None, 0, None, None, 1, 0.008, None, None, None, None)
(41, 1, 0.4, None, &#39;2018-07-17 20:00&#39;, 2, 79, &#39;도시대기&#39;, 1, 0.024, 10, 1, 0.013, 1, 2, 1, 28, 32, 2, 2, 27, 27, None, None, 0, None, None, 1, 0.004, None, None, None, None)
(42, 1, 0.3, None, &#39;2018-07-17 19:00&#39;, 2, 79, &#39;도시대기&#39;, 1, 0.017, 10, 1, 0.02, 1, 2, 1, 27, 34, 2, 2, 22, 27, None, None, 0, None, None, 1, 0.004, None, None, None, None)
(43, 1, 0.3, None, &#39;2018-07-17 18:00&#39;, 2, 82, &#39;도시대기&#39;, 1, 0.014, 10, 1, 0.019, 1, 2, 1, 27, 35, 2, 2, 25, 28, None, None, 0, None, None, 1, 0.004, None, None, None, None)
(44, 1, 0.2, None, &#39;2018-07-17 17:00&#39;, 2, 82, &#39;도시대기&#39;, 1, 0.014, 10, 1, 0.02, 1, 2, 2, 37, 37, 2, 2, 34, 28, None, None, 0, None, None, 1, 0.006, None, None, None, None)
(45, 1, 0.3, None, &#39;2018-07-17 16:00&#39;, 2, 79, &#39;도시대기&#39;, 1, 0.017, 10, 1, 0.028, 1, 2, 2, 38, 37, 2, 3, 36, 27, None, None, 0, None, None, 1, 0.008, None, None, None, None)
(46, 1, 0.3, None, &#39;2018-07-17 15:00&#39;, 2, 77, &#39;도시대기&#39;, 1, 0.019, 10, 2, 0.036, 1, 2, 2, 42, 36, 2, 3, 37, 26, None, None, 0, None, None, 1, 0.008, None, None, None, None)
(47, 1, 0.4, None, &#39;2018-07-17 14:00&#39;, 2, 74, &#39;도시대기&#39;, 1, 0.028, 10, 2, 0.058, 1, 2, 2, 43, 34, 2, 3, 38, 25, None, None, 0, None, None, 1, 0.007, None, None, None, None)
(48, 1, 0.4, None, &#39;2018-07-17 13:00&#39;, 2, 74, &#39;도시대기&#39;, 2, 0.038, 10, 2, 0.044, 1, 2, 2, 45, 31, 2, 3, 36, 25, None, None, 0, None, None, 1, 0.007, None, None, None, None)
(49, 1, 0.4, None, &#39;2018-07-17 12:00&#39;, 2, 69, &#39;도시대기&#39;, 2, 0.04, 10, 1, 0.023, 1, 1, 2, 36, 28, 2, 2, 29, 23, None, None, 0, None, None, 1, 0.006, None, None, None, None)
(50, 1, 0.4, None, &#39;2018-07-17 11:00&#39;, 2, 64, &#39;도시대기&#39;, 1, 0.028, 10, 1, 0.021, 1, 1, 2, 32, 26, 2, 2, 25, 21, None, None, 0, None, None, 1, 0.008, None, None, None, None)
(51, 1, 0.4, None, &#39;2018-07-17 20:00&#39;, 2, 79, &#39;도시대기&#39;, 1, 0.024, 10, 1, 0.013, 1, 2, 1, 28, 32, 2, 2, 27, 27, None, None, 0, None, None, 1, 0.004, None, None, None, None)
(52, 1, 0.3, None, &#39;2018-07-17 19:00&#39;, 2, 79, &#39;도시대기&#39;, 1, 0.017, 10, 1, 0.02, 1, 2, 1, 27, 34, 2, 2, 22, 27, None, None, 0, None, None, 1, 0.004, None, None, None, None)
(53, 1, 0.3, None, &#39;2018-07-17 18:00&#39;, 2, 82, &#39;도시대기&#39;, 1, 0.014, 10, 1, 0.019, 1, 2, 1, 27, 35, 2, 2, 25, 28, None, None, 0, None, None, 1, 0.004, None, None, None, None)
(54, 1, 0.2, None, &#39;2018-07-17 17:00&#39;, 2, 82, &#39;도시대기&#39;, 1, 0.014, 10, 1, 0.02, 1, 2, 2, 37, 37, 2, 2, 34, 28, None, None, 0, None, None, 1, 0.006, None, None, None, None)
(55, 1, 0.3, None, &#39;2018-07-17 16:00&#39;, 2, 79, &#39;도시대기&#39;, 1, 0.017, 10, 1, 0.028, 1, 2, 2, 38, 37, 2, 3, 36, 27, None, None, 0, None, None, 1, 0.008, None, None, None, None)
(56, 1, 0.3, None, &#39;2018-07-17 15:00&#39;, 2, 77, &#39;도시대기&#39;, 1, 0.019, 10, 2, 0.036, 1, 2, 2, 42, 36, 2, 3, 37, 26, None, None, 0, None, None, 1, 0.008, None, None, None, None)
(57, 1, 0.4, None, &#39;2018-07-17 14:00&#39;, 2, 74, &#39;도시대기&#39;, 1, 0.028, 10, 2, 0.058, 1, 2, 2, 43, 34, 2, 3, 38, 25, None, None, 0, None, None, 1, 0.007, None, None, None, None)
(58, 1, 0.4, None, &#39;2018-07-17 13:00&#39;, 2, 74, &#39;도시대기&#39;, 2, 0.038, 10, 2, 0.044, 1, 2, 2, 45, 31, 2, 3, 36, 25, None, None, 0, None, None, 1, 0.007, None, None, None, None)
(59, 1, 0.4, None, &#39;2018-07-17 12:00&#39;, 2, 69, &#39;도시대기&#39;, 2, 0.04, 10, 1, 0.023, 1, 1, 2, 36, 28, 2, 2, 29, 23, None, None, 0, None, None, 1, 0.006, None, None, None, None)
(60, 1, 0.4, None, &#39;2018-07-17 11:00&#39;, 2, 64, &#39;도시대기&#39;, 1, 0.028, 10, 1, 0.021, 1, 1, 2, 32, 26, 2, 2, 25, 21, None, None, 0, None, None, 1, 0.008, None, None, None, None)
(61, 1, 0.4, None, &#39;2018-07-17 20:00&#39;, 2, 79, &#39;도시대기&#39;, 1, 0.024, 10, 1, 0.013, 1, 2, 1, 28, 32, 2, 2, 27, 27, None, None, 0, None, None, 1, 0.004, None, None, None, None)
(62, 1, 0.3, None, &#39;2018-07-17 19:00&#39;, 2, 79, &#39;도시대기&#39;, 1, 0.017, 10, 1, 0.02, 1, 2, 1, 27, 34, 2, 2, 22, 27, None, None, 0, None, None, 1, 0.004, None, None, None, None)
(63, 1, 0.3, None, &#39;2018-07-17 18:00&#39;, 2, 82, &#39;도시대기&#39;, 1, 0.014, 10, 1, 0.019, 1, 2, 1, 27, 35, 2, 2, 25, 28, None, None, 0, None, None, 1, 0.004, None, None, None, None)
(64, 1, 0.2, None, &#39;2018-07-17 17:00&#39;, 2, 82, &#39;도시대기&#39;, 1, 0.014, 10, 1, 0.02, 1, 2, 2, 37, 37, 2, 2, 34, 28, None, None, 0, None, None, 1, 0.006, None, None, None, None)
(65, 1, 0.3, None, &#39;2018-07-17 16:00&#39;, 2, 79, &#39;도시대기&#39;, 1, 0.017, 10, 1, 0.028, 1, 2, 2, 38, 37, 2, 3, 36, 27, None, None, 0, None, None, 1, 0.008, None, None, None, None)
(66, 1, 0.3, None, &#39;2018-07-17 15:00&#39;, 2, 77, &#39;도시대기&#39;, 1, 0.019, 10, 2, 0.036, 1, 2, 2, 42, 36, 2, 3, 37, 26, None, None, 0, None, None, 1, 0.008, None, None, None, None)
(67, 1, 0.4, None, &#39;2018-07-17 14:00&#39;, 2, 74, &#39;도시대기&#39;, 1, 0.028, 10, 2, 0.058, 1, 2, 2, 43, 34, 2, 3, 38, 25, None, None, 0, None, None, 1, 0.007, None, None, None, None)
(68, 1, 0.4, None, &#39;2018-07-17 13:00&#39;, 2, 74, &#39;도시대기&#39;, 2, 0.038, 10, 2, 0.044, 1, 2, 2, 45, 31, 2, 3, 36, 25, None, None, 0, None, None, 1, 0.007, None, None, None, None)
(69, 1, 0.4, None, &#39;2018-07-17 12:00&#39;, 2, 69, &#39;도시대기&#39;, 2, 0.04, 10, 1, 0.023, 1, 1, 2, 36, 28, 2, 2, 29, 23, None, None, 0, None, None, 1, 0.006, None, None, None, None)
(70, 1, 0.4, None, &#39;2018-07-17 11:00&#39;, 2, 64, &#39;도시대기&#39;, 1, 0.028, 10, 1, 0.021, 1, 1, 2, 32, 26, 2, 2, 25, 21, None, None, 0, None, None, 1, 0.008, None, None, None, None)
(71, 1, 0.4, None, &#39;2018-07-17 20:00&#39;, 2, 79, &#39;도시대기&#39;, 1, 0.024, 10, 1, 0.013, 1, 2, 1, 28, 32, 2, 2, 27, 27, None, None, 0, None, None, 1, 0.004, None, None, None, None)
(72, 1, 0.3, None, &#39;2018-07-17 19:00&#39;, 2, 79, &#39;도시대기&#39;, 1, 0.017, 10, 1, 0.02, 1, 2, 1, 27, 34, 2, 2, 22, 27, None, None, 0, None, None, 1, 0.004, None, None, None, None)
(73, 1, 0.3, None, &#39;2018-07-17 18:00&#39;, 2, 82, &#39;도시대기&#39;, 1, 0.014, 10, 1, 0.019, 1, 2, 1, 27, 35, 2, 2, 25, 28, None, None, 0, None, None, 1, 0.004, None, None, None, None)
(74, 1, 0.2, None, &#39;2018-07-17 17:00&#39;, 2, 82, &#39;도시대기&#39;, 1, 0.014, 10, 1, 0.02, 1, 2, 2, 37, 37, 2, 2, 34, 28, None, None, 0, None, None, 1, 0.006, None, None, None, None)
(75, 1, 0.3, None, &#39;2018-07-17 16:00&#39;, 2, 79, &#39;도시대기&#39;, 1, 0.017, 10, 1, 0.028, 1, 2, 2, 38, 37, 2, 3, 36, 27, None, None, 0, None, None, 1, 0.008, None, None, None, None)
(76, 1, 0.3, None, &#39;2018-07-17 15:00&#39;, 2, 77, &#39;도시대기&#39;, 1, 0.019, 10, 2, 0.036, 1, 2, 2, 42, 36, 2, 3, 37, 26, None, None, 0, None, None, 1, 0.008, None, None, None, None)
(77, 1, 0.4, None, &#39;2018-07-17 14:00&#39;, 2, 74, &#39;도시대기&#39;, 1, 0.028, 10, 2, 0.058, 1, 2, 2, 43, 34, 2, 3, 38, 25, None, None, 0, None, None, 1, 0.007, None, None, None, None)
(78, 1, 0.4, None, &#39;2018-07-17 13:00&#39;, 2, 74, &#39;도시대기&#39;, 2, 0.038, 10, 2, 0.044, 1, 2, 2, 45, 31, 2, 3, 36, 25, None, None, 0, None, None, 1, 0.007, None, None, None, None)
(79, 1, 0.4, None, &#39;2018-07-17 12:00&#39;, 2, 69, &#39;도시대기&#39;, 2, 0.04, 10, 1, 0.023, 1, 1, 2, 36, 28, 2, 2, 29, 23, None, None, 0, None, None, 1, 0.006, None, None, None, None)
(80, 1, 0.4, None, &#39;2018-07-17 11:00&#39;, 2, 64, &#39;도시대기&#39;, 1, 0.028, 10, 1, 0.021, 1, 1, 2, 32, 26, 2, 2, 25, 21, None, None, 0, None, None, 1, 0.008, None, None, None, None)
(81, 1, 0.4, None, &#39;2018-07-17 20:00&#39;, 2, 79, &#39;도시대기&#39;, 1, 0.024, 10, 1, 0.013, 1, 2, 1, 28, 32, 2, 2, 27, 27, None, None, 0, None, None, 1, 0.004, None, None, None, None)
(82, 1, 0.3, None, &#39;2018-07-17 19:00&#39;, 2, 79, &#39;도시대기&#39;, 1, 0.017, 10, 1, 0.02, 1, 2, 1, 27, 34, 2, 2, 22, 27, None, None, 0, None, None, 1, 0.004, None, None, None, None)
(83, 1, 0.3, None, &#39;2018-07-17 18:00&#39;, 2, 82, &#39;도시대기&#39;, 1, 0.014, 10, 1, 0.019, 1, 2, 1, 27, 35, 2, 2, 25, 28, None, None, 0, None, None, 1, 0.004, None, None, None, None)
(84, 1, 0.2, None, &#39;2018-07-17 17:00&#39;, 2, 82, &#39;도시대기&#39;, 1, 0.014, 10, 1, 0.02, 1, 2, 2, 37, 37, 2, 2, 34, 28, None, None, 0, None, None, 1, 0.006, None, None, None, None)
(85, 1, 0.3, None, &#39;2018-07-17 16:00&#39;, 2, 79, &#39;도시대기&#39;, 1, 0.017, 10, 1, 0.028, 1, 2, 2, 38, 37, 2, 3, 36, 27, None, None, 0, None, None, 1, 0.008, None, None, None, None)
(86, 1, 0.3, None, &#39;2018-07-17 15:00&#39;, 2, 77, &#39;도시대기&#39;, 1, 0.019, 10, 2, 0.036, 1, 2, 2, 42, 36, 2, 3, 37, 26, None, None, 0, None, None, 1, 0.008, None, None, None, None)
(87, 1, 0.4, None, &#39;2018-07-17 14:00&#39;, 2, 74, &#39;도시대기&#39;, 1, 0.028, 10, 2, 0.058, 1, 2, 2, 43, 34, 2, 3, 38, 25, None, None, 0, None, None, 1, 0.007, None, None, None, None)
(88, 1, 0.4, None, &#39;2018-07-17 13:00&#39;, 2, 74, &#39;도시대기&#39;, 2, 0.038, 10, 2, 0.044, 1, 2, 2, 45, 31, 2, 3, 36, 25, None, None, 0, None, None, 1, 0.007, None, None, None, None)
(89, 1, 0.4, None, &#39;2018-07-17 12:00&#39;, 2, 69, &#39;도시대기&#39;, 2, 0.04, 10, 1, 0.023, 1, 1, 2, 36, 28, 2, 2, 29, 23, None, None, 0, None, None, 1, 0.006, None, None, None, None)
(90, 1, 0.4, None, &#39;2018-07-17 11:00&#39;, 2, 64, &#39;도시대기&#39;, 1, 0.028, 10, 1, 0.021, 1, 1, 2, 32, 26, 2, 2, 25, 21, None, None, 0, None, None, 1, 0.008, None, None, None, None)
</pre>
</div>
</div>

</div>
</div>

</div>
    </div>
  </div>
  {% endblock %}
</body>

 


</html>
