{% extends 'base.html' %}

{% block body %}
  <div tabindex="-1" id="notebook" class="border-box-sizing">
    <div class="container" id="notebook-container">

<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[6]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="c1">#82. Taxi Fare</span>

<span class="k">def</span> <span class="nf">taxi_fare</span><span class="p">(</span><span class="n">num</span><span class="p">):</span>
    <span class="n">base</span> <span class="o">=</span> <span class="mi">4</span>
    <span class="n">total_price</span> <span class="o">=</span> <span class="mi">0</span>
    <span class="n">distance</span> <span class="o">=</span> <span class="p">(</span><span class="n">num</span> <span class="o">*</span> <span class="mi">1000</span><span class="p">)</span> <span class="o">/</span> <span class="mi">140</span>
    <span class="n">total_price</span> <span class="o">=</span> <span class="n">base</span> <span class="o">+</span> <span class="n">distance</span> <span class="o">*</span> <span class="mf">0.25</span>
    <span class="k">return</span> <span class="n">total_price</span>
<span class="n">taxi_fare</span><span class="p">(</span><span class="mf">1.4</span><span class="p">)</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[6]:</div>




<div class="output_text output_subarea output_execute_result">
<pre>6.5</pre>
</div>

</div>

</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[11]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="c1">#84. Median of Three Values</span>
<span class="k">def</span> <span class="nf">find_median</span><span class="p">(</span><span class="n">num1</span><span class="p">,</span> <span class="n">num2</span><span class="p">,</span> <span class="n">num3</span><span class="p">):</span>
    <span class="n">num_list</span> <span class="o">=</span> <span class="nb">sorted</span><span class="p">([</span><span class="n">num1</span><span class="p">,</span> <span class="n">num2</span><span class="p">,</span> <span class="n">num3</span><span class="p">])</span>
    <span class="k">return</span> <span class="n">num_list</span><span class="p">[</span><span class="mi">1</span><span class="p">]</span>

<span class="n">find_median</span><span class="p">(</span><span class="mi">10</span><span class="p">,</span> <span class="mi">30</span><span class="p">,</span> <span class="mi">5</span><span class="p">)</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[11]:</div>




<div class="output_text output_subarea output_execute_result">
<pre>10</pre>
</div>

</div>

</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[20]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="c1">#85. Convert an Integer to its Oridinal Number</span>
<span class="k">def</span> <span class="nf">convert_ordinal</span><span class="p">(</span><span class="n">num</span><span class="p">):</span>
    <span class="k">if</span> <span class="mi">0</span> <span class="o">&lt;</span> <span class="n">num</span> <span class="o">&lt;</span> <span class="mi">13</span><span class="p">:</span>
        <span class="k">if</span> <span class="n">num</span> <span class="ow">is</span> <span class="mi">1</span><span class="p">:</span>
            <span class="k">return</span> <span class="nb">str</span><span class="p">(</span><span class="n">num</span><span class="p">)</span> <span class="o">+</span> <span class="s1">&#39;st&#39;</span>
        <span class="k">elif</span> <span class="n">num</span> <span class="ow">is</span> <span class="mi">2</span><span class="p">:</span>
            <span class="k">return</span> <span class="nb">str</span><span class="p">(</span><span class="n">num</span><span class="p">)</span> <span class="o">+</span> <span class="s1">&#39;nd&#39;</span>
        <span class="k">elif</span> <span class="n">num</span> <span class="ow">is</span> <span class="mi">3</span><span class="p">:</span>
            <span class="k">return</span> <span class="nb">str</span><span class="p">(</span><span class="n">num</span><span class="p">)</span> <span class="o">+</span> <span class="s1">&#39;rd&#39;</span>
        <span class="k">elif</span> <span class="n">num</span> <span class="o">&gt;</span> <span class="mi">3</span><span class="p">:</span>
            <span class="k">return</span> <span class="nb">str</span><span class="p">(</span><span class="n">num</span><span class="p">)</span> <span class="o">+</span> <span class="s1">&#39;th&#39;</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="k">return</span> <span class="s1">&#39;&#39;</span>
<span class="n">convert_ordinal</span><span class="p">(</span><span class="mi">5</span><span class="p">)</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[20]:</div>




<div class="output_text output_subarea output_execute_result">
<pre>&#39;5th&#39;</pre>
</div>

</div>

</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[29]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="c1">#88. Is it a Valid Triangle?</span>

<span class="k">def</span> <span class="nf">is_triangle</span><span class="p">(</span><span class="n">num1</span><span class="p">,</span> <span class="n">num2</span><span class="p">,</span> <span class="n">num3</span><span class="p">):</span>
    <span class="n">num_list</span> <span class="o">=</span> <span class="nb">sorted</span><span class="p">([</span><span class="n">num1</span><span class="p">,</span> <span class="n">num2</span><span class="p">,</span> <span class="n">num3</span><span class="p">])</span>
    <span class="k">if</span> <span class="n">num_list</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span> <span class="ow">is</span> <span class="mi">0</span><span class="p">:</span>
        <span class="k">return</span> <span class="kc">False</span>    
    <span class="k">elif</span> <span class="n">num_list</span><span class="p">[</span><span class="mi">2</span><span class="p">]</span> <span class="o">&gt;</span> <span class="n">num_list</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span> <span class="o">+</span> <span class="n">num_list</span><span class="p">[</span><span class="mi">1</span><span class="p">]:</span>
        <span class="nb">print</span><span class="p">(</span><span class="nb">str</span><span class="p">(</span><span class="n">num_list</span><span class="p">[</span><span class="mi">2</span><span class="p">])</span> <span class="o">+</span> <span class="s1">&#39; 은 &#39;</span> <span class="o">+</span><span class="nb">str</span><span class="p">(</span><span class="n">num_list</span><span class="p">[</span><span class="mi">1</span><span class="p">])</span> <span class="o">+</span> <span class="s1">&#39; 과 &#39;</span> <span class="o">+</span> <span class="nb">str</span><span class="p">(</span><span class="n">num_list</span><span class="p">[</span><span class="mi">0</span><span class="p">])</span> <span class="o">+</span> <span class="s1">&#39;의 합보다 큽니다.&#39;</span> <span class="p">)</span>
        <span class="k">return</span> <span class="kc">False</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="nb">print</span><span class="p">(</span><span class="nb">str</span><span class="p">(</span><span class="n">num_list</span><span class="p">[</span><span class="mi">2</span><span class="p">])</span> <span class="o">+</span> <span class="s1">&#39; 은 &#39;</span> <span class="o">+</span><span class="nb">str</span><span class="p">(</span><span class="n">num_list</span><span class="p">[</span><span class="mi">1</span><span class="p">])</span> <span class="o">+</span> <span class="s1">&#39; 과 &#39;</span> <span class="o">+</span> <span class="nb">str</span><span class="p">(</span><span class="n">num_list</span><span class="p">[</span><span class="mi">0</span><span class="p">])</span> <span class="o">+</span> <span class="s1">&#39;의 합보다 크지 않습니다.&#39;</span> <span class="p">)</span>
        <span class="k">return</span> <span class="kc">True</span>
    

<span class="n">is_triangle</span><span class="p">(</span><span class="mi">0</span><span class="p">,</span> <span class="mi">3</span><span class="p">,</span> <span class="mi">2</span><span class="p">)</span>
    
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[29]:</div>




<div class="output_text output_subarea output_execute_result">
<pre>False</pre>
</div>

</div>

</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[59]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="c1">#92. Is a Number Prime?</span>

<span class="k">def</span> <span class="nf">is_prime</span><span class="p">(</span><span class="n">num</span><span class="p">):</span>
    <span class="k">if</span> <span class="n">num</span> <span class="ow">is</span> <span class="mi">2</span><span class="p">:</span>
        <span class="nb">print</span><span class="p">(</span><span class="s1">&#39;It is Prime Number&#39;</span><span class="p">)</span>
        <span class="k">return</span> <span class="kc">True</span>
    <span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="mi">2</span><span class="p">,</span> <span class="n">num</span><span class="p">):</span>
        <span class="k">if</span> <span class="n">num</span> <span class="o">%</span> <span class="n">i</span> <span class="o">==</span> <span class="mi">0</span><span class="p">:</span>
            <span class="nb">print</span><span class="p">(</span><span class="s1">&#39;It is not Prime Number&#39;</span><span class="p">)</span>
            <span class="k">return</span> <span class="kc">False</span>
        <span class="k">else</span><span class="p">:</span>
            <span class="nb">print</span><span class="p">(</span><span class="s1">&#39;It is Prime Number&#39;</span><span class="p">)</span>
            <span class="k">return</span> <span class="kc">True</span>
<span class="n">is_prime</span><span class="p">(</span><span class="mi">19</span><span class="p">)</span>            
    
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt"></div>


<div class="output_subarea output_stream output_stdout output_text">
<pre>It is Prime Number
</pre>
</div>
</div>

<div class="output_area">

<div class="prompt output_prompt">Out[59]:</div>




<div class="output_text output_subarea output_execute_result">
<pre>True</pre>
</div>

</div>

</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[102]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="c1">#86. The Twelve Days of Christmas</span>
<span class="n">present</span> <span class="o">=</span> <span class="p">[</span>
    <span class="s1">&#39;And a partridge in a pear tree.&#39;</span><span class="p">,</span> 
    <span class="s1">&#39;Two turtle doves,&#39;</span><span class="p">,</span> 
    <span class="s1">&#39;Three French hens,&#39;</span><span class="p">,</span>
    <span class="s1">&#39;Four calling birds, &#39;</span><span class="p">,</span>
    <span class="s1">&#39;Five gold rings, &#39;</span><span class="p">,</span>
    <span class="s1">&#39;Six geese a laying, &#39;</span><span class="p">,</span>
    <span class="s1">&#39;Seven swans a swimming, &#39;</span><span class="p">,</span>
    <span class="s1">&#39;Eight maids a milking, &#39;</span><span class="p">,</span>
    <span class="s1">&#39;Nine drummers drumming, &#39;</span><span class="p">,</span>
    <span class="s1">&#39;Ten pipers piping, &#39;</span><span class="p">,</span>
    <span class="s1">&#39;Eleven ladies dancing, &#39;</span><span class="p">,</span>
    <span class="s1">&#39;Twelve Lords a leaping, &#39;</span>   
<span class="p">]</span>
<span class="k">def</span> <span class="nf">convert_ordinal</span><span class="p">(</span><span class="n">num</span><span class="p">):</span>
    <span class="k">if</span> <span class="mi">0</span> <span class="o">&lt;</span> <span class="n">num</span> <span class="o">&lt;</span> <span class="mi">13</span><span class="p">:</span>
        <span class="k">if</span> <span class="n">num</span> <span class="ow">is</span> <span class="mi">1</span><span class="p">:</span>
            <span class="k">return</span> <span class="nb">str</span><span class="p">(</span><span class="n">num</span><span class="p">)</span> <span class="o">+</span> <span class="s1">&#39;st&#39;</span>
        <span class="k">elif</span> <span class="n">num</span> <span class="ow">is</span> <span class="mi">2</span><span class="p">:</span>
            <span class="k">return</span> <span class="nb">str</span><span class="p">(</span><span class="n">num</span><span class="p">)</span> <span class="o">+</span> <span class="s1">&#39;nd&#39;</span>
        <span class="k">elif</span> <span class="n">num</span> <span class="ow">is</span> <span class="mi">3</span><span class="p">:</span>
            <span class="k">return</span> <span class="nb">str</span><span class="p">(</span><span class="n">num</span><span class="p">)</span> <span class="o">+</span> <span class="s1">&#39;rd&#39;</span>
        <span class="k">elif</span> <span class="n">num</span> <span class="o">&gt;</span> <span class="mi">3</span><span class="p">:</span>
            <span class="k">return</span> <span class="nb">str</span><span class="p">(</span><span class="n">num</span><span class="p">)</span> <span class="o">+</span> <span class="s1">&#39;th&#39;</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="k">return</span> <span class="s1">&#39;&#39;</span>
<span class="nb">print</span><span class="p">(</span><span class="s1">&#39;On the &#39;</span> <span class="o">+</span> <span class="n">convert_ordinal</span><span class="p">(</span><span class="mi">1</span><span class="p">)</span> <span class="o">+</span> <span class="s1">&#39; day of Christmas&#39;</span><span class="p">)</span>
<span class="nb">print</span><span class="p">(</span><span class="s1">&#39;my true love sent to me:&#39;</span><span class="p">)</span>
<span class="nb">print</span><span class="p">(</span><span class="s1">&#39;A partridge in a pear tree. &#39;</span><span class="p">)</span>
<span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="mi">2</span><span class="p">,</span><span class="mi">13</span><span class="p">):</span>
    <span class="nb">print</span><span class="p">(</span><span class="s1">&#39;</span><span class="se">\n</span><span class="s1"> On the &#39;</span> <span class="o">+</span> <span class="n">convert_ordinal</span><span class="p">(</span><span class="n">i</span><span class="p">)</span> <span class="o">+</span> <span class="s1">&#39; day of Christmas&#39;</span><span class="p">)</span>
    <span class="nb">print</span><span class="p">(</span><span class="s1">&#39;my true love sent to me:&#39;</span><span class="p">)</span>
    <span class="n">j</span> <span class="o">=</span> <span class="n">i</span>
    <span class="k">while</span> <span class="n">j</span> <span class="o">&gt;</span> <span class="mi">0</span><span class="p">:</span>
        <span class="nb">print</span><span class="p">(</span><span class="n">present</span><span class="p">[</span><span class="n">j</span><span class="o">-</span><span class="mi">1</span><span class="p">])</span>
        <span class="n">j</span> <span class="o">-=</span><span class="mi">1</span>
    
    
    
    
    
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt"></div>


<div class="output_subarea output_stream output_stdout output_text">
<pre>On the 1st day of Christmas
my true love sent to me:
A partridge in a pear tree. 

 On the 2nd day of Christmas
my true love sent to me:
Two turtle doves,
And a partridge in a pear tree.

 On the 3rd day of Christmas
my true love sent to me:
Three French hens,
Two turtle doves,
And a partridge in a pear tree.

 On the 4th day of Christmas
my true love sent to me:
Four calling birds, 
Three French hens,
Two turtle doves,
And a partridge in a pear tree.

 On the 5th day of Christmas
my true love sent to me:
Five gold rings, 
Four calling birds, 
Three French hens,
Two turtle doves,
And a partridge in a pear tree.

 On the 6th day of Christmas
my true love sent to me:
Six geese a laying, 
Five gold rings, 
Four calling birds, 
Three French hens,
Two turtle doves,
And a partridge in a pear tree.

 On the 7th day of Christmas
my true love sent to me:
Seven swans a swimming, 
Six geese a laying, 
Five gold rings, 
Four calling birds, 
Three French hens,
Two turtle doves,
And a partridge in a pear tree.

 On the 8th day of Christmas
my true love sent to me:
Eight maids a milking, 
Seven swans a swimming, 
Six geese a laying, 
Five gold rings, 
Four calling birds, 
Three French hens,
Two turtle doves,
And a partridge in a pear tree.

 On the 9th day of Christmas
my true love sent to me:
Nine drummers drumming, 
Eight maids a milking, 
Seven swans a swimming, 
Six geese a laying, 
Five gold rings, 
Four calling birds, 
Three French hens,
Two turtle doves,
And a partridge in a pear tree.

 On the 10th day of Christmas
my true love sent to me:
Ten pipers piping, 
Nine drummers drumming, 
Eight maids a milking, 
Seven swans a swimming, 
Six geese a laying, 
Five gold rings, 
Four calling birds, 
Three French hens,
Two turtle doves,
And a partridge in a pear tree.

 On the 11th day of Christmas
my true love sent to me:
Eleven ladies dancing, 
Ten pipers piping, 
Nine drummers drumming, 
Eight maids a milking, 
Seven swans a swimming, 
Six geese a laying, 
Five gold rings, 
Four calling birds, 
Three French hens,
Two turtle doves,
And a partridge in a pear tree.

 On the 12th day of Christmas
my true love sent to me:
Twelve Lords a leaping, 
Eleven ladies dancing, 
Ten pipers piping, 
Nine drummers drumming, 
Eight maids a milking, 
Seven swans a swimming, 
Six geese a laying, 
Five gold rings, 
Four calling birds, 
Three French hens,
Two turtle doves,
And a partridge in a pear tree.
</pre>
</div>
</div>

</div>
</div>

</div>
    </div>
  </div>
  {% endblock %}

